<header class="w-full bg-gray-800 text-white py-3">
  <nav class="w-10/12 mx-auto py-1 px-3 flex items-center gap-2 font-semibold">
    <a href="/">Home</a>
    <a href="/products">Products</a>
  </nav>
</header>
